<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personal</title>
    <script src="/MyExample/public/static/jquery-3.1.1/jquery-3.1.1.min.js"></script>
    <script src="/MyExample/public/static/jquery-3.1.1/jquery-3.1.1.js"></script>
    <script src="/MyExample/public/static/js/admin.js"></script>
</head>
<body>

    <div id="personalxianshi">

        <h2 id="h2"><?php echo $name ?></h2>
        <h3 id="h3"><?php echo $hobby ?></h3>
        <h4 id="h4"><?php echo $qq ?></h4>
    </div>
    <div id="personal">
        <form action="">
            name:<input type="text" value="">
            hobby:<input type="text" value="">
            myqq:<input type="text" value="">

        </form>
        <button id="modifypersonal">修改</button>
    </div>

</body>
</html>