<div id="page-nav">
    <nav class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0; border:          0px solid black;background-color: #4D4D4D;">
        <div class="navbar-header">
            <a href="" class="navbar-brand" style="color: #fff;">Binary admin</a>
        </div>
        <div style="float: right">
            <a href="/MyBlogs/index.php/login/sugnOut">[退出]</a>
        </div>
    </nav>
    <nav class="navbar-default navbar-side" role="navigation" style="background-color: #4D4D4D;">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img src="/MyBlogs/public/static/img/find_user.png" alt="" class="user-image img-responsive">
                </li>
                <li>
                    <a href="/MyBlogs/index.php/Admin/articalmy">
                        <i class="fa fa-dashboard fa-3x">
                            <img src="/MyBlogs/public/static/img/back-a.png" alt="">
                        </i>
                        文章管理
                    </a>
                </li>
                <li>
                    <a href="/MyBlogs/index.php/Admin/diarymy">
                        <i class="fa fa-desktop fa-3x">
                            <img src="/MyBlogs/public/static/img/back-b.png" alt="">
                        </i>
                        日记管理
                    </a>
                </li>
                <li id="article-link">
                    <a href="/MyBlogs/index.php/Admin/messagemy">
                        <i class="fa fa-qrcode fa-3x">
                            <img src="/MyBlogs/public/static/img/back-c.png" alt="">
                        </i>
                        留言管理
                    </a>
                </li>
                <li>
                    <a href="/MyBlogs/index.php/Admin/picturemy">
                        <i class="fa fa-table fa-3x">
                            <img src="/MyBlogs/public/static/img/back-a.png" alt="">
                        </i>
                        图片管理
                    </a>
                </li>
                <li>
                    <a href="/MyBlogs/index.php/Admin/backManage">
                        <i class="fa fa-edit fa-3x">
                            <img src="/MyBlogs/public/static/img/back-b.png" alt="">
                        </i>
                        关于自己管理
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>

