<!--<div id="pblicReception">-->
    <header class="header-wrap">
        <div class="logo">
            <img src="/MyBlogs/public/static/img/my.jpg" alt="我的头像" style="width: 130px;height: 130px;">
        </div>
        <div class="header-text-box">
            <ul class="text-box">
                <li class="text-one">
                    从不羡慕别人的优秀，因为相信自己也可以优秀
                </li>
                <li class="text-two">
                    闲下来时看看书，书本里的故事，总有你学到的人生
                </li>
                <li class="text-three">--By: <strong class="author">李闪磊</strong></li>
            </ul>

        </div>
        <div class="logo-pic">

            <a href="/MyBlogs/index.php/Admin/register"><img src="/MyBlogs/public/static/img/logo-pic-bg.jpg" alt="" style="width: 129px;height: 115px;"></a>
        </div>
    </header>
    <nav id="nav" class="nav-wrap">
        <ul class="clearfix">
            <li><a href="/MyBlogs/index.php/Admin/rechomepage">首页</a></li>
            <li><a href="/MyBlogs/index.php/Admin/recpicture">唯美图片</a></li>
            <li><a href="/MyBlogs/index.php/Admin/recdiarymy">闲言碎语</a></li>
            <li><a href="/MyBlogs/index.php/Admin/proscenium">关于自己</a></li>
            <li><a href="/MyBlogs/index.php/Admin/recleavmessage">留言板</a></li>
        </ul>
    </nav>
<!--</div>-->